<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админка — Университеты</title>

    <!-- Основные стили админки -->
    <link rel="stylesheet" href="/static/css/admin.css">

</head>

<body>

<h1>Администрирование университетов</h1>

<div class="top-bar">
    <button class="add-btn">Добавить университет</button>

    <div class="search-box">
        <input type="text" placeholder="Поиск..." id="searchInput">
    </div>
</div>

<div id="error-box" style="display:none;color:red;margin:10px 0;"></div>

<table id="uniTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Города</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
        <!-- JS рендерит строки -->
    </tbody>
</table>
<br>
<br>
<button class="add-program-btn">Добавить программу</button>
<br>
<br>

<table id="programTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Необходимые предметы</th>
        <th>Ссылка на программу</th>
        <th>Университет</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
        <!-- JS рендерит строки -->
    </tbody>
</table>

<!-- JS для работы админки -->
<script src="/static/js/admin.js"></script>

<!-- JS, который автоматически создаёт плавающую кнопку -->
<script src="/static/js/floating-home.js" defer></script>

</body>
</html>
